{% extends 'base.html.twig' %}

{% block main %}


    <div class="header-video">
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
        </video>
        <div class="container h-100">
            <div class="d-flex h-100 text-center align-items-center justify-content-center">
                <div class="text-white container-accueil">
                    <h1 class="display-3">Contact</h1>
                    <!--<hr class="accueil-line" style="margin-bottom: 30px; position: relative;">
                    <p class="contact-mail">pileoufaceproject@gmail.com</p>-->

                    <p class="contact-mail">
                        <span class="morphext">
                            <span class=""><a class="morphext-text" href="mailto:pileoufaceproject@gmail.com">pileoufaceproject@gmail.com</a></span>
                        </span>
                    </p>


                    <div class="contact-buttons">
                        <a class="contact-button contact-button-facebook" href="https://www.facebook.com/pileoufaceproject/" target="_blank"></a>
                        <a class="contact-button contact-button-insta" href="https://www.instagram.com/pileoufaceproject/" target="_blank"></a>
                        <a class="contact-button contact-button-youtube" href="https://www.youtube.com/channel/UCfWmjCbQp5ngqIWx-78GaRg" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar fixed-bottom d-flex nav-foot" style="z-index: 2;">
        <div class="mx-auto"><p class="accueil-footer-texte">©PileouFaceProject | <a class="navbar-brand" data-toggle="modal" data-target="#mentionslegales" href="#">Mention légales</a></p></div>
    </nav>





{% endblock %}