{% extends 'base.html.twig' %}

{% block main %}


    <div class="header-video">
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
        </video>
        <div class="container h-100">
            <div class="d-flex h-100 text-center align-items-center justify-content-center">
                <div class="text-white container-accueil">
                    <h1 class="display-3">Contact</h1>
                    <hr class="accueil-line" style="margin-bottom: 30px;">
                    <div class="accueil-buttons">
                        <a class="contact-button contact-button-facebook" href="https://www.facebook.com/pileoufaceproject/" target="_blank"></a>
                        <a class="contact-button contact-button-insta" href="https://www.instagram.com/pileoufaceproject/" target="_blank"></a>
                        <a class="contact-button contact-button-youtube" href="https://www.youtube.com/channel/UCfWmjCbQp5ngqIWx-78GaRg" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar fixed-bottom d-flex nav-foot" style="z-index: 2;">
        <div class="mx-auto"><p class="accueil-footer-texte">©PileouFaceProject | <a class="navbar-brand" data-toggle="modal" data-target="#exampleModal2" href="#">Mention légales</a></p></div>
    </nav>

    <!-- Mentions légales -->

    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-body text-left">
                    <!--<div class="img-mentions-legales mx-auto "></div>
                    <p style="font-size: 1rem; margin-top: 10px; margin-bottom: -5px; ">Ce site a été réalisé par <a href="https://www.timothee-corrado.com" target="_blank"><h2>Timothée CORRADO</h2></a></p>-->
                    <h3>MENTIONS LEGALES</h3>
                    <h4>INFORMATIONS EDITORIALES</h4>
                    <p><strong>Site</strong> : <a href='https://www.pileoufaceproject.com' title='Mélanie ROLLAND et IYA DUCLOS VILLAIN - https://www.pileoufaceproject.com'>https://www.pileoufaceproject.com</a><br />
                        <strong>Propriétaires</strong> : <strong style="font-weight: normal;">Mélanie ROLLAND</strong> et <strong style="font-weight: normal;">IYA DUCLOS VILLAIN</strong> <br />
                        <strong>Adresse des propriétaires</strong> : Paris, France<br />
                        <strong>N° de téléphone des propriétaires</strong> : 0600000000 <br />
                        <strong>Responsables des publications</strong> : Mélanie ROLLAND et IYA DUCLOS VILLAIN (<a href="mailto:melanie.rolland7@gmail.com">melanie.rolland7@gmail.com</a>)<br />
                        <strong>Webmaster</strong> : <strong style="font-weight: normal;">Timothée CORRADO</strong> – (<a href="mailto:timothee.corrado@gmail.com">timothee.corrado@gmail.com</a>)<br />
                        <strong>Créateur du site</strong> : <a href='https://www.timothee-corrado.com/' target="_blank"><h2 style="font-size: 1rem; margin-top: -2.37rem; margin-left: 8.6rem;">Timothée CORRADO</h2></a><br />
                    <h4>NOUS CONTACTER</h4>
                    <p>Mélanie ROLLAND et IYA DUCLOS VILLAIN vous offrent la possibilité de correspondre avec leurs services, dans le respect du référentiel Marianne. Cette charte interministérielle vise à garantir la qualité de l'accueil et promeut des valeurs telles que la courtoisie, l'accessibilité, la rapidité, la clarté des réponses mais aussi un esprit d'écoute, de rigueur et de transparence.</p>
                    <h5>Pour vous aider dans vos échanges et trouver le bon interlocuteur :</h5>
                    <ul><li>Questions générales, demandes de renseignements ou compléments d'information : Mélanie ROLLAND et IYA DUCLOS VILLAIN (<a href="mailto:melanie.rolland7@gmail.com">melanie.rolland7@gmail.com</a>)</li>
                        <li>Fonctionnement du site, difficultés techniques, problème d'affichage ou de téléchargement, remarques et suggestions : <strong style="font-weight: normal;">Timothée CORRADO</strong> (<a href="mailto:timothee.corrado@gmail.com">timothee.corrado@gmail.com</a>)</li></ul>
                    <h4>PRESTATAIRE D'HEBERGEMENT</h4>
                    <p>La politique du site <a href='https://www.pileoufaceproject.com' title='Mélanie ROLLAND et IYA DUCLOS VILLAIN - https://www.pileoufaceproject.com'>https://www.pileoufaceproject.com</a> est en conformité avec la loi n°2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique.</p>
                    <h5>Hébergement du site :</h5>
                    <p>OVH<br />
                        Adresse OVH à compléter</p>
                    <h4>CONDITIONS GENERALES D'UTILISATION DU SITE ET DES SERVICES PROPOSES</h4>
                    <p>L’utilisation du site <a href='https://www.pileoufaceproject.com' title='Mélanie ROLLAND et IYA DUCLOS VILLAIN - https://www.pileoufaceproject.com'>https://www.pileoufaceproject.com</a> implique l’acceptation pleine et entière des conditions générales d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment, les utilisateurs du site <a href='https://www.pileoufaceproject.com' title='Mélanie ROLLAND et IYA DUCLOS VILLAIN - https://www.pileoufaceproject.com'>https://www.pileoufaceproject.com</a> sont donc invités à les consulter de manière régulière.</p>
                    <p>Ce site est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de maintenance technique peut être toutefois décidée par Mélanie ROLLAND et IYA DUCLOS VILLAIN, qui s’efforceront alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention.</p>
                    <p>Le site <a href='https://www.pileoufaceproject.com' title='Mélanie ROLLAND et IYA DUCLOS VILLAIN - https://www.pileoufaceproject.com'>https://www.pileoufaceproject.com</a> est mis à jour régulièrement par Mélanie ROLLAND et IYA DUCLOS VILLAIN. De la même façon, les mentions légales peuvent être modifiées à tout moment : elles s’imposent néanmoins à l’utilisateur qui est invité à s’y référer le plus souvent possible afin d’en prendre connaissance.</p>
                    <h4>LIMITATIONS DE RESPONSABLITES</h4>
                    <p>Mélanie ROLLAND et IYA DUCLOS VILLAIN ne pourront être tenues responsable des dommages directs et indirects causés au matériel de l’utilisateur, lors de l’accès au site <a href='https://www.pileoufaceproject.com' title='Mélanie ROLLAND et IYA DUCLOS VILLAIN - https://www.pileoufaceproject.com'>https://www.pileoufaceproject.com</a>, et résultant soit de l’utilisation d’un matériel non adapté ou défectueux, soit de l’apparition d’un bug ou d’une incompatibilité.</p>
                    <p>Mélanie ROLLAND et IYA DUCLOS VILLAIN ne pourront également être tenues responsable des dommages indirects (tels par exemple qu’une perte de marché ou perte d’une chance) consécutifs à l’utilisation du site <a href='https://www.pileoufaceproject.com' title='Mélanie ROLLAND et IYA DUCLOS VILLAIN - https://www.pileoufaceproject.com'>https://www.pileoufaceproject.com</a>.</p>
                    <!--<p>Des espaces interactifs (Réseaux sociaux et/ou possibilité de poser des questions dans l’espace contact) sont à la disposition des utilisateurs. Mélanie ROLLAND et IYA DUCLOS VILLAIN se réservent le droit de supprimer, sans mise en demeure préalable, tout contenu déposé dans cet espace qui contreviendrait à la législation applicable en France, en particulier aux dispositions relatives à la protection des données. Le cas échéant, Mélanie ROLLAND et IYA DUCLOS VILLAIN se réserve également la possibilité de mettre en cause la responsabilité civile et/ou pénale de l’utilisateur, notamment en cas de message à caractère raciste, injurieux, diffamant, ou pornographique, quel que soit le support utilisé (texte, photographie…).</p>
                    -->
                    <h4>PROTECTION ET TRAITEMENT DE DONNEES A CARACTERE PERSONNEL</h4>
                    <p>L'équipe du site <a href='https://www.pileoufaceproject.com' title='Mélanie ROLLAND et IYA DUCLOS VILLAIN - https://www.pileoufaceproject.com'>https://www.pileoufaceproject.com</a> est particulièrement attentive au respect des obligations légales de tout éditeur de site internet et suit les recommandations de la commission nationale de l'informatique et des libertés (CNIL).</p>
                    <h5>Respect des lois en vigueur</h5>
                    <p>Le site <a href='https://www.pileoufaceproject.com' title='Mélanie ROLLAND et IYA DUCLOS VILLAIN - https://www.pileoufaceproject.com'>https://www.pileoufaceproject.com</a> respecte la vie privée de l'internaute et se conforme strictement aux lois en vigueur sur la protection de la vie privée et des libertés individuelles. Aucune information personnelle n'est collectée à votre insu. Aucune information personnelle n'est cédée à des tiers. Les courriels, les adresses électroniques ou autres informations nominatives dont ce site est destinataire ne font l'objet d'aucune exploitation et ne sont conservés que pour la durée nécessaire à leur traitement.</p>
                    <h5>Déclaration CNIL</h5>

                    <p>Le site <a href='https://www.pileoufaceproject.com' title='Mélanie ROLLAND et IYA DUCLOS VILLAIN - https://www.pileoufaceproject.com'>https://www.pileoufaceproject.com</a> a fait l'objet d'une déclaration des traitements automatisés mis en oeuvre dans le cadre des sites internet auprès de la commission nationale de l'informatique et des libertés et est enregistré sous le récépissé de déclaration n° Numéro CNIL.</p>
                    <!--<h5>Droit des internautes : droit d'accès et de rectification</h5>
                    <p>Conformément aux dispositions de la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, les internautes disposent d'un droit d'accès, de modification, de rectification et de suppression des données qui les concernent. Ce droit s'exerce par voie postale, en justifiant de son identité, à l'adresse suivante :</p>
                    <p>Mélanie ROLLAND et IYA DUCLOS VILLAIN<br />
                        Paris, France</p>
                    -->
                    <!--
                    <h5>Données statistiques : traçabilité et profilage</h5>
                    <p>Lors de leur navigation sur le site, les internautes laissent des traces informatiques. Cet ensemble d'informations est recueilli à l'aide d'un témoin de connexion appelé cookie qui ne contient, toutefois, aucune information personnelle.</p>
                    <p>Dans le but d'améliorer l'ergonomie, la navigation au sein du site, le contenu éditorial et le service aux internautes, l'outil gestionnaire des statistiques du site <a href='https://www.pileoufaceproject.com' title='Mélanie ROLLAND et IYA DUCLOS VILLAIN - https://www.pileoufaceproject.com'>https://www.pileoufaceproject.com</a> stocke des informations relatives au profil des internautes : équipement, navigateur utilisé, origine géographique des requêtes, date et heure de la connexion, navigation sur le site, fréquence des visites, etc. Ces données de connexion permettent des extractions statistiques et sont conservées pendant un an.</p>
                    <p>Tout internaute a la possibilité de refuser l'enregistrement de ces données en modifiant la configuration du navigateur de son ordinateur qui autorise ou non l'enregistrement de cookies. Il vous est possible de les refuser ou de les supprimer sans que cela ait une quelconque influence sur votre accès aux pages du site. Pour vous opposer à l'enregistrement de cookies ou être prévenu avant d'accepter les cookies, nous vous recommandons la lecture de la rubrique d'aide de votre navigateur qui vous précisera la marche à suivre.</p>
                    -->
                    <h4>DROITS D'AUTEUR ET DROITS DE REPRODUCTION DU CONTENU MIS EN LIGNE</h4>
                    <h5>Droits de reproduction des documents publics ou officiels</h5>
                    <p>Depuis la publication de l'ordonnance n° 2005-650 du 6 juin 2005 relative à la liberté d'accès aux documents administratifs et à la réutilisation des informations publiques, ces informations peuvent être réutilisées à d'autres fins que celles pour lesquelles elles ont été produites, et particulièrement les informations faisant l'objet d'une diffusion publique. Ces documents prévus pour une diffusion publique ne sont couverts par aucun droit d'auteur et peuvent donc être reproduits librement. Le graphisme, l'iconographie ainsi que le contenu éditorial demeurent la propriété de l'État, et, à ce titre, font l'objet des protections prévues par le Code de la propriété intellectuelle.</p>
                    <p>L'article L.122-5 du code de la propriété intellectuelle pose le principe selon lequel, "lorsque l'oeuvre a été divulguée, l'auteur ne peut interdire la diffusion, même intégrale, par la voie de presse ou de télédiffusion, à titre d'information d'actualité, des discours destinés au public prononcés dans les assemblées politiques, (...), ainsi que dans les réunions publiques d'ordre politique et les cérémonies officielles".<br />
                        C'est donc le cas notamment pour les discours et interventions publiques qui s'apparentent à une exception au droit d'auteur. De même, les documents publics ou officiels tels que les communiqués officiels ne sont couverts par aucun droit d'auteur, et peuvent en conséquence être reproduits librement.<br />
                        Si la reprise de ces contenus de façon partielle ou intégrale est autorisée, elle doit être obligatoirement assortie de la mention du nom de l'auteur, de la source, et éventuellement d'un lien renvoyant vers le document original en ligne sur le site. La mention "©PileouFaceProject - https://www.pileoufaceproject.com" devra donc être indiquée.</p>
                    <p>Tous les autres contenus présents sur le site sont couverts par le droit d'auteur. Toute reproduction est dès lors conditionnée à l'accord de l'auteur en vertu de l'article L.122-4 du Code de la propriété Intellectuelle.<br />
                        Les informations reproduites ne doivent l'être qu'à des fins personnelles, associatives ou professionnelles ; toute diffusion ou utilisation à des fins commerciales ou publicitaires étant interdites.</p>
                    <h5>Demande d'autorisation de reproduction des contenus</h5>
                    <p>La demande devra préciser le contenu visé ainsi que la publication ou le site sur lequel ce dernier figurera. Une fois cette autorisation obtenue, la reproduction d'un contenu doit obéir aux principes suivants :</p>
                    <ul><li>Gratuité de la diffusion</li>
                        <li>Respect de l'intégrité des documents reproduits (aucune modification, ni altération d'aucune sorte)</li>
                        <li>Mention obligatoire : "©PileouFaceProject - https://www.pileoufaceproject.com - droits réservés". Cette mention pointera grâce à un lien hypertexte directement sur le contenu</li>
                        <li>Insertion d'une icône représentant le site internet</li></ul>
                    <p>Les organismes sous tutelle ainsi que les autres ministères sont dispensés de cette demande d'autorisation sous réserve d'insertion de la mention : "© Mélanie ROLLAND et IYA DUCLOS VILLAIN - https://www.pileoufaceproject.com - droits réservés". Cette mention pointera grâce à un lien hypertexte directement sur le contenu.</p>
                    <h4>RESPONSABILITE FACE AUX LIENS VERS D'AUTRES SITES</h4>
                    <p>Le site <a href='https://www.pileoufaceproject.com' title='Mélanie ROLLAND et IYA DUCLOS VILLAIN - https://www.pileoufaceproject.com'>https://www.pileoufaceproject.com</a> propose de nombreux liens vers d'autres sites, essentiellement des sites officiels (gouvernement, institutions, organismes publics, etc.) mais aussi vers des sites, français ou étrangers, d'associations, d'organismes professionnels du secteur éducatif ou d'entreprises partenaires sur des opérations ponctuelles.</p>
                    <p>Chaque fois, il est systématiquement précisé vers quel site nous vous proposons d'aller. Ces pages, dont les adresses sont régulièrement vérifiées, ne font pas partie du site <a href='https://www.pileoufaceproject.com' title='Mélanie ROLLAND et IYA DUCLOS VILLAIN - https://www.pileoufaceproject.com'>https://www.pileoufaceproject.com</a> : elles n'engagent pas la responsabilité de la rédaction du site qui ne peut être tenue pour responsable des contenus vers lesquels ces liens pointent. Ils ne visent qu'à permettre à l'internaute d'accéder plus facilement à d'autres ressources documentaires sur le sujet consulté.</p>
                    <h4>DEMANDE DE CREATION DE LIENS</h4>
                    <h5>Création de liens vers le site <a href='https://www.pileoufaceproject.com' title='Mélanie ROLLAND et IYA DUCLOS VILLAIN - https://www.pileoufaceproject.com'>https://www.pileoufaceproject.com</a></h5>
                    <p>Le site <a href='https://www.pileoufaceproject.com' title='Mélanie ROLLAND et IYA DUCLOS VILLAIN - https://www.pileoufaceproject.com'>https://www.pileoufaceproject.com</a> autorise, sans autorisation préalable, la mise en place de liens hypertextes pointant vers ses pages, sous réserve de :<br />
                    <ul><li>Ne pas utiliser la technique du lien profond, c'est-à-dire que les pages du site <a href='https://www.pileoufaceproject.com' title='Mélanie ROLLAND et IYA DUCLOS VILLAIN - https://www.pileoufaceproject.com'>https://www.pileoufaceproject.com</a> ne doivent pas être imbriquées à l'intérieur des pages d'un autre site, mais visibles par l'ouverture d'une fenêtre indépendante</li>
                        <li>Mentionner la source qui pointera grâce à un lien hypertexte directement sur le contenu visé</li></ul>
                    Les sites qui font le choix de pointer vers <a href='https://www.pileoufaceproject.com' title='Mélanie ROLLAND et IYA DUCLOS VILLAIN - https://www.pileoufaceproject.com'>https://www.pileoufaceproject.com</a> engagent leur responsabilité dès lors qu'ils porteraient atteinte à l'image du site public.</p>
                    <h4>DROIT APPLICABLE ET ATTRIBUTION DE JURIDICTION</h4>
                    <p>Tout litige en relation avec l’utilisation du site <a href='https://www.pileoufaceproject.com' title='Mélanie ROLLAND et IYA DUCLOS VILLAIN - https://www.pileoufaceproject.com'>https://www.pileoufaceproject.com</a> est soumis au droit français. Il est fait attribution exclusive de juridiction aux tribunaux compétents de Paris.</p>
                    <!--<h4>ACCESSIBILITE DU SITE</h4>
                    <p>Un soin tout particulier est pris pour rendre le site internet <a href='https://www.pileoufaceproject.com' title='Mélanie ROLLAND et IYA DUCLOS VILLAIN - https://www.pileoufaceproject.com'>https://www.pileoufaceproject.com</a> le plus accessible possible, et tout particulièrement aux personnes ayant un handicap visuel. Les pages sont mises progressivement en conformité avec les recommandations du référentiel commun des critères d'accessibilité des services Internet de l'administration française pour respecter la loi n°2005-102 du 11 février 2005 pour l'égalité des droits et des chances, la participation et la citoyenneté des personnes handicapées.</p>
                    <h4>CREDITS</h4>
                    <p>Ces mentions légales ont étés offertes par <a href='http://lafabrique2sites.net' rel='nofollow'>LaFabrique2Sites - création site internet low-cost</a>.</p>
                     -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn modal-bouton-fermer" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>



{% endblock %}