{% extends 'base.html.twig' %}

{% block main %}
    {% if session|default(false) %}
        <div class="connectedName">
            <p>Bonjour <strong>{{ session }}</strong> </p>
        </div>
    {% endif %}

    <div class="header-video">
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <!--<source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">-->
            <source src="../ressources/videos/background.mp4" type="video/mp4">
        </video>
        <div class="container h-100">
            <div class="d-flex h-100 text-center align-items-center justify-content-center">
                <div class="text-white container-accueil">
                    <h1 class="display-3">Pile ou Face</h1>
                    <h2 class="lead mb-0">Dance duo - French feminine touch</h2>
                    <hr class="accueil-line">
                    <div class="accueil-buttons">
                        <a class="accueil-button accueil-button-texte" href="../iya_duclos_villain.php">IYA</a>
                        <a class="accueil-button accueil-button-logo" data-toggle="modal" data-target="#exampleModal"></a>
                        <a class="accueil-button accueil-button-texte" href="../melanie_rolland.php">MEL</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Pile ou face -->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-accueil-pres">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title" id="exampleModalLabel">Qui sommes-nous ?</h5>
                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>-->
                </div>
                <div class="modal-body text-center">
                    <img src="../ressources/pile_ou_face_logo_melanie_rolland_iya_duclos_villain.png" style="max-height: 200px;" alt="Logo Pile ou Face project - Mélanie Rolland / Iya Duclos Villain"><br><br>
                    <p style="text-align: justify;">Pile ou Face est un duo de danse féminin basé à Paris.
                    Deux énergies, deux styles aussi différents que complémentaires; deux personnalités artistiques: Iya et Mélanie.
                    Ce projet voit le jour à la suite de leur formation de danse Hip Hop à la Thony Maskott School, où elles se rencontrent. Elles ont en commun le désir de communiquer à travers la danse, l’expression de leurs sensations intimes et l’extravagante diversité du monde qui les entoure. Pour ce faire, elles emmènent dans chaque vidéo le spectateur au coeur d’une idée, d’un lieu, d’un concept à l’intérieur duquel leurs chorégraphies se mêlent à l’univers qu’elles dessinent: tantôt mystique, tantôt solaire; tantôt sauvage, tantôt urbain, tantôt pile, tantôt face...
                    </p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn modal-bouton-fermer" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    <!--______________________ Footer ______________________-->

    <nav class="navbar fixed-bottom d-flex nav-foot" style="z-index: 2;">
        <div class="mr-auto"><p class="accueil-footer-texte">©PileouFaceProject | <a class="navbar-brand" data-toggle="modal" data-target="#mentionslegales" href="#">Mention légales</a></p></div>
        <div class="row">
            <a href="https://www.instagram.com/pileoufaceproject/" target="_blank"><div class="accueil-icone-insta"></div> </a>
            <a href="https://www.facebook.com/pileoufaceproject/" target="_blank"><div class="accueil-icone-facebook"></div> </a>
            <a href="https://www.youtube.com/channel/UCfWmjCbQp5ngqIWx-78GaRg" target="_blank"><div class="accueil-icone-video"></div> </a>
        </div>
    </nav>
{% endblock %}

