{% extends 'base.html.twig' %}

{% block main %}
    <div class="section">
        <div class="row" style="width: 100%; margin: 0;">
            <div class="col-lg-6 col-12 text-center" style="background: white; height: 100vh; overflow: auto;">
                <div class="container" style="background: url('../ressources/tache-pile-ou-face.jpg'); background-size: 200%; background-position: center; background-repeat: no-repeat;">
                    <h1 class="title_cv">Iya Duclos Villain</h1>

                    <!--<div class="text-right">
                        <img src="../ressources/Icones/left-quote.png" style="max-height: 50px">
                        <p class="citation_cv">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu pharetra mauris.
                        </p>

                        <h2 class="citation-name">- Iya Duclos Villain</h2>
                    </div>-->

                    <iframe src="https://www.youtube.com/embed/zaeFCF4orPE" class="CV-video" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <p class="text_cv">
                        Grâce à sa mère, les premiers pas d’Iya son des pas de danse. Celle-ci l’initie aux bases de la danse classique dans le salon de leur maison alors qu’elle est toute petite. Par la suite Iya prend des cours, de danse classique, mais aussi de jazz.
                        C’est par la musique qu’elle s’approprie cette discipline et s’épanouie dans ce qui commence à devenir son identité: La chaîne Hi-Fi braille du matin au soir: Hip-hop, Funk, Soul... Mais aussi Reggae, Morna, Bossa- Nova...
                        Le hip-hop s’impose à elle à l’âge de 12 ans. Il la libère. Seulement, là où la danse lui donne des ailes, son environnement ne lui suffit pas à prendre son envol.
                        Elle s’arrache alors à sa Bretagne natale pour se confronter seule à la capitale où la danse et la musique deviennent son moteur. D’abord une école de Comédie Musicale: l’ECM, où elle apprend à développer sa voix, son jeu et sa présence sur scène. À l’issue de celle-ci elle décide de renouer plus fort encore avec le Hip-hop, et entre à la Thony Maskot School, où elle se perfectionne, et où elle rencontre son binôme Mélanie.
                        De fil en aiguille elle se fraie un chemin aussi riche qu’atypique dans le monde du spectacle, avec une premier rôle dans la comédie musicale Petit Ours Brun laquelle l’amène ensuite à rencontrer Féloche qui, séduit par son talent et sa polyvalence, décide de l’emmener en tournée avec lui. À ses côtés, Iya découvre la scène d’une toute autre manière, plus brute et plus intense. Cette tournée l’amène à se produire dans des salles prestigieuses de Paris, à la Cigale, au Café de la Danse, ainsi que dans toute la France et dans des contrées plus lointaines: Les Canaries, la Chine...
                        Mue par toutes ces expériences, elle se lance en 2019 dans une nouvelle aventure: Pile ou Face. Ce projet est un espace de création et un défis qu’elle se lance avec son acolyte, celui de sortir des sentiers battus et d’exprimer grâce à la danse, la variété des univers qui les inspirent.
                    </p>

                    <a href="../ressources/cv/CV2019-.pdf" download="CV_Iya_Duclos_Villain">
                        <button class="cv-download-button">Voir mon CV</button>
                    </a>

                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col-4">
                            <a href="https://www.facebook.com/iyaofficiel/" target="_blank"><div class="icones-fb-cv" style="margin-right: 0;"></div></a>
                        </div>
                        <div class="col-4">
                            <a href="https://www.instagram.com/iyaduclos/" target="_blank"><div class="icones-insta-cv"></div></a>
                        </div>
                        <div class="col-4">
                            <a href="https://www.youtube.com/channel/UCQugV-sZQZuov4FSHbnjLSQ" target="_blank"><div class="icones-youtube-cv" style="margin-left: 0;"></div></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 cover-cv" style="padding:0;">
                <div class="masthead-iya">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <div class="col-12 text-center">
                                <!--<h1 class="font-weight-light">Vertically Centered Masthead Content</h1>
                                <p class="lead">A great starter layout for a landing page</p>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}