{% extends 'base.html.twig' %}

{% block main %}
    <div class="section">
        <div class="row" style="width: 100%; margin: 0;">
            <div class="col-lg-6 col-12 cover-cv" style="padding:0;">
                <div class="masthead-mel">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <div class="col-12 text-center">
                                <!--<h1 class="font-weight-light">Vertically Centered Masthead Content</h1>
                                <p class="lead">A great starter layout for a landing page</p>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-12 text-center" style="background: white; height: 100vh; overflow: auto;">
                <div class="container" style="/*background: url('../ressources/tache-pile-ou-face.jpg'); background-size: 200%; background-position: center; background-repeat: no-repeat; */">
                    <h1 class="title_cv">Mélanie Rolland</h1>

                    <!--<div class="text-left">
                        <img src="../ressources/Icones/left-quote.png" style="max-height: 50px">
                        <p class="citation_cv">
                            Une petite phrase pour me décrire.
                        </p>

                        <h2 class="citation-name">Mélanie Rolland -</h2>
                    </div>-->

                    <iframe src="https://www.youtube.com/embed/e6YRE_PVISg" class="CV-video" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <p class="text_cv">
                        C’est par le classique que Mélanie entre dans l’univers de la danse à l’âge de six ans.
                        La rigueur qu’implique cette discipline lui apprend à maîtriser son corps dès son plus jeune âge. Mais comme dit Snoop Dogg: “Hip-hop is what makes the world go ‘round”: Sept ans plus tard, sa nature réservée puise dans cette danse un nouveau moyen d’expression.
                        Son parcours évolue au lycée, de nouveaux styles enrichissent le sien au gré de ses rencontres (jazz, flamenco...), elle intègre le groupe de danse Jack’s Tiger avec lequel elle se produit plus d’une centaine de fois sur scène.
                        Le travail continue, après des cours pris dans plusieurs studios parisiens tout au long de sa scolarité, elle décide d’intégrer la première école de Street Dance française: la Thony Maskot School. Cette formation renforce l’amour de Mélanie pour le hip-hop, elle s’y découvre une acuité toute particulière pour certains registres comme la House Dance ainsi qu’une aisance et un plaisir viscéral à l’improvisation.
                        À la suite de ces deux années intensives lors desquelles elle rencontre son binôme actuel, Iya, Mélanie anime des évènements pour différents organismes dont Ubisoft et Yelloh Village. Ces nouveaux contacts avec le public la conforte dans son choix: faire de la danse son moyen de partage et d’expression, son contact privilégié avec les autres.
                        Avec Pile ou Face Mélanie continue d’explorer, aux moyens du corps et de la musique, l’étendue des possibles que lui offre la danse. Sa recherche de l’insolite et de l’inédit tiennent en haleine sa créativité, et
                        font grandir son art en même temps qu’elle.
                    </p>


                    <a href="../ressources/cv/Mélanie%20Rolland%20Curriculum%20Vitae.pdf" download="CV_Mélanie_Rolland">
                        <button class="cv-download-button">Voir mon CV</button>
                    </a>

                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col-4">
                            <a href="https://www.facebook.com/Mélanie-Rolland-2196993603714712/" target="_blank" class="text-center"><div class="icones-fb-cv" style="margin-right: 0;"></div></a>
                        </div>
                        <div class="col-4">
                            <a href="https://www.instagram.com/_melanie_rolland/" target="_blank"><div class="icones-insta-cv"></div></a>
                        </div>
                        <div class="col-4">
                            <a href="https://www.youtube.com/channel/UCoryApKd38Z1U-Pcu1V3RDA" target="_blank" class="icones-youtube-cv"><div class="icones-youtube-cv" style="margin-left: 0;"></div></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}
