{% extends 'base.html.twig' %}

{% block main %}
    <div class="section">
        <div class="row" style="width: 100%; margin: 0;">
            <div class="col-md-6" style="padding:0;">
                <div class="masthead-iya">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <div class="col-12 text-center">
                                <h1 class="font-weight-light">Vertically Centered Masthead Content</h1>
                                <p class="lead">A great starter layout for a landing page</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 text-center" style="background: white; height: 100vh; overflow: auto;"">
                <div class="container">
                    <h1 class="title_cv">Mélanie Rolland</h1>

                    <div class="text-left">
                        <img src="../ressources/Icones/left-quote.png" style="max-height: 50px">
                        <p class="citation_cv">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu pharetra mauris.
                        </p>

                        <h2 class="citation-name">Mélanie Rolland -</h2>
                    </div>

                    <iframe src="https://www.youtube.com/embed/Y-JQ-RCyPpQ" class="CV-video" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <p class="text_cv">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu pharetra mauris. Aenean consequat mauris at arcu aliquam, sit amet ultrices nulla vestibulum. Nunc laoreet purus felis, at facilisis purus placerat eget. Suspendisse posuere bibendum neque. Suspendisse dignissim nibh a metus hendrerit, vitae luctus turpis varius. Proin tristique condimentum euismod. Integer dapibus odio tortor, dapibus lacinia tortor feugiat in. Fusce non facilisis elit, non tincidunt metus. Suspendisse suscipit tellus tortor, eu pharetra magna congue eu. Vivamus rutrum purus vitae orci iaculis eleifend. Nunc rhoncus tellus at felis mollis facilisis. Etiam congue tortor eros. Aenean ante enim, rutrum non molestie eleifend, pretium eu turpis. Mauris at mauris quis ex fringilla dapibus.
                    </p>

                    <div class="row">
                        <div class="col-4">
                            <a href="#" class="">Facebook</a>
                        </div>
                        <div class="col-4">
                            <a href="#" class="">Insta</a>
                        </div>
                        <div class="col-4">
                            <a href="#" class="">Youtube</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}