body
{
    background: #424242;
}

@font-face {
    font-family: Rockness;
    src: url('../ressources/polices/Rockness.ttf');
}

.parametres_nav
{
    /*background: rgba(255,255,255,0.5) !important;*/

}


.menu, .menu-bg, .menu-burger {
    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    border-radius: 100%;
    right: 25px;
    top: 25px;
}

.menu-bg {
    background: rgba(255,255,255,1);
    pointer-events: none;
    transition: 0.3s;
    position: fixed;
    z-index: 3;
    right: 50px;
    top: 50px;
    transform: translate3d(50%, -50%, 0);
    transform-origin: center center;
}
.menu-bg.fs {
    transform: translate3d(50%, -50%, 0);
    width: 500vw;
    height: 500vw;
}

.menu-burger {
    color: black;
    position: fixed;
    z-index: 3;
    -webkit-user-select: none;
    cursor: pointer;
    transition: 0.4s;
    transform-origin: center;
}
.menu-burger.fs {
    transform: rotate(180deg) translateY(10px);
}

.menu-items {
    position: fixed;
    z-index: 5;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 8px;
    color: black;
    width: 100%;
    /*text-align: center;*/
    opacity: 0;
    transition: 0.4s;
    margin-top: 50px;
    transform: translateY(-200%);
    pointer-events: none;
}
.menu-items div {
    transition: 1s;
    opacity: 0;
    margin-top: 0px;
}
.menu-items.fs {
    transform: translateY(0);
    pointer-events: auto;
    opacity: 1;
}
.menu-items.fs div {
    opacity: 1;
    margin-top: 50px;
}
.menu-items.fs div a {
    text-decoration: none;
    color: black;
    transition: ease 0.5s;
}

.menu-items.fs div a:hover {

    color: #96e8da;
    text-shadow: 0px 0px 2px #96e8da;
    text-decoration: none;
}

.footer
{
    background: #424242;
    min-height: 200px;
    color: white;
    text-align: center;
    padding-top: 20px;

}

.event
{
    min-height: 500px;
    /*background: darkgrey;*/
    border: 3px groove darkgrey;
}

@media screen and (max-width: 991px)
{
    .menu-items.fs div {
        opacity: 1;
        margin-top: 25px;
    }

}
/*****************************************GALERIE*****************************************/

/* ---- masonry ---- */

.grid {
    /*background: #DDD;*/
}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
    width: 33.333%;
}

.grid-item-big{
    width: 66.666%;
}

.grid-item-total{
    width: 100%;
}

.grid-item {
    float: left;
    border: 20px solid white;
    /*border: 20px solid rgba(255,255,255,0.6);*/
    transition: ease 1s;
}

.grid-item:hover {

    border: 10px solid white;
    cursor: pointer;

}

.grid-item img {
    display: block;
    max-width: 100%;
}

@media screen and (max-width: 509px)
{
    .grid-item
    {
        border: 5px solid white;
    }
}

/* ------- */

.container{
    /*background: red;*/
}

.test1
{
    background: darkseagreen;
    height: 200px;
    text-align: center;
    color: white;
    padding-top: 80px;
}
/* ------- */
.round:before
{
    content: '';
    background: url("../ressources/Icones_2/error(1).png") no-repeat center;
    background-size: contain;
    text-align: center;
    color: black;
    right: 0;
    margin-right: 2px;
    top: 0;
    margin-top: 2px;
    position: absolute;
   /* border: 1px solid black;*/
    border-radius: 100px;
    height: 30px;
    width: 30px;
    z-index: 2;
}

.round:hover:before
{
    background: url("../ressources/Icones_2/error.png") no-repeat center;
    background-size: contain;
    /*background: black;*/
    border: none;
    cursor: pointer;
    color: white;
}

.select-image
{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

/*
.select-image:hover
{
    background: blue;
    opacity: 0.3;
    cursor: pointer;
}
*/
/*
.select-image:hover:before
{
    content: '';
    position: absolute;
    border: 1px solid black;
    margin: auto;
    width: 80%;
    height: 80%;
    z-index: 2;
}*/

.btn-galerie
{
    height: 40px;
    width: 40px;
    /*border: 2px solid #aaaaaa;*/
    border-radius: 50%;
    right: 30px;
    top: 50px;
    background-size: contain !important;
    background: url("../ressources/Icones/plus.png") no-repeat center;
    position: absolute;
}

.btn-galerie:hover
{
    background: url("../ressources/Icones/plus(1).png") no-repeat center;
    cursor: pointer;
}
/***************************************FIN GALERIE***************************************/
/*****************************************ACCUEIL*****************************************/


.header-video {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.header-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.header-video .container {
    position: relative;
    z-index: 2;
}

.header-video .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.container-accueil
{
    max-width: 560px !important;
}

@media (pointer: coarse) and (hover: none) {
    .header-video {
        background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    .header-video video {
        display: none;
    }
}

.display-3
{
    /*font-size: 6rem;
    font-family: "Helvetica Neue";*/
    font-size: 8rem;
    font-family: Rockness, "Helvetica Neue";
    font-weight: 700;
    /*text-align: justify;*/
}

.lead
{
    font-size: 2.25rem;
    font-family: "Helvetica Neue";
    font-weight: 300;
    text-align: center;
}

.accueil-line
{
    width: 100%;
    border: 1px solid white;
}
.accueil-buttons
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}

.accueil-button
{
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    text-align: center;
    font-family: "Helvetica Neue";
    color: white !important;
}

.accueil-button-logo
{
    background: url("../ressources/pile_ou_face_logo_melanie_rolland_iya_duclos_villain.png");
    background-size: 100% ;
    background-position: center ;
    background-repeat: no-repeat ;
    opacity: 0.6;
    transition: ease 0.3s;
}

.accueil-button-logo:hover
{
    opacity: 1;
    cursor: pointer;
}

.accueil-button-texte
{
    font-size: 2rem;
    font-weight: 500;
    padding: 25px 9px 0 10px;
    transition: ease 0.3s;
}

.accueil-button-texte:hover
{
    text-decoration: none;
    background: white;
    color: #96e8da !important;

}

@media screen and (min-width: 410px) and (max-width: 768px)
{
    .display-3
    {
        /*font-size: 4rem;
        font-family: "Helvetica Neue";*/
        font-size: 5.5rem;
        font-family: Rockness, "Helvetica Neue";
        font-weight: 700;
        /*text-align: justify;*/
    }

    .lead
    {
        font-size: 1.5rem;
        font-family: "Helvetica Neue";
        font-weight: 300;
        text-align: center;
    }
}

@media screen and (max-width: 409px)
{
    .display-3
    {
        /*font-size: 3rem;
        font-family: "Helvetica Neue";*/
        font-size: 4rem;
        font-family: Rockness, "Helvetica Neue";
        font-weight: 700;
        /*text-align: justify;*/
    }

    .lead
    {
        font-size: 1.1rem;
        font-family: "Helvetica Neue";
        font-weight: 300;
        text-align: center;
    }

    .accueil-button
    {
        width: 70px;
        height: 70px;
    }

    .accueil-button-texte
    {
        font-size: 1rem;
        padding: 20px 9px 0 10px;
    }

}
/*------------------FIN VIDEO------------------*/

.modal-content
{
    background: rgba(255,255,255,1);
    font-family: "Helvetica Neue";
    color: black;
}

.modal-bouton-fermer
{
    border: 1px solid black;
    font-family: "Helvetica Neue";
    color: black;
    background: none;
    transition: ease 0.3s;
}

.modal-bouton-fermer:hover
{
    background: black;
    color: white;
    cursor: pointer;
}

.accueil-footer-texte
{
    color: white !important;
    font-family: "Helvetica Neue";
    font-size: 1rem;
    letter-spacing: 2px;
}

.accueil-footer-texte a
{
    text-decoration: none;
    color: white !important;
    font-family: "Helvetica Neue";
    font-size: 1rem;
    letter-spacing: 2px;
}

.accueil-footer-texte a:hover
{
    color: #96e8da !important;
}

.accueil-icone-insta
{
    height: 30px;
    width: 30px;
    background: url("../ressources/Icones/instagram.png");
    background-size: contain;
    background-repeat: no-repeat ;
    margin-bottom: 20px;
    margin-right: 15px;
    margin-left: 15px;
}

.accueil-icone-insta:hover
{
    height: 30px;
    width: 30px;
    background: url("../ressources/Icones/instagram(1).png");
    background-size: contain;
    background-repeat: no-repeat ;
    margin-bottom: 20px;
    margin-right: 15px;
    margin-left: 15px;
}

.accueil-icone-video
{
    height: 30px;
    width: 30px;
    background: url("../ressources/Icones/video.png");
    background-size: contain;
    background-repeat: no-repeat ;
    margin-bottom: 20px;
    margin-right: 15px;
    margin-left: 15px;
}

.accueil-icone-video:hover
{
    height: 30px;
    width: 30px;
    background: url("../ressources/Icones/video(1).png");
    background-size: contain;
    background-repeat: no-repeat ;
    margin-bottom: 20px;
    margin-right: 15px;
    margin-left: 15px;
}

.accueil-icone-facebook
{
    height: 30px;
    width: 30px;
    background: url("../ressources/Icones/facebook.png");
    background-size: contain;
    background-repeat: no-repeat ;
    margin-bottom: 20px;
    margin-right: 15px;
    margin-left: 15px;
}

.accueil-icone-facebook:hover
{
    height: 30px;
    width: 30px;
    background: url("../ressources/Icones/facebook(1).png");
    background-size: contain;
    background-repeat: no-repeat ;
    margin-bottom: 20px;
    margin-right: 15px;
    margin-left: 15px;
}


@media screen and (max-width: 699px)
{
    .nav-foot
    {
        display: none !important;
    }
}

.img-mentions-legales
{
    height: 200px;
    width: 200px;
    border-radius: 50% ;
    background: url("https://timothee-corrado.com/ressources/img/background/Timoth%C3%A9e_CORRADO_D%C3%A9veloppeur_Web_Design_Graphiste_2.jpg");
    background-size: 300%;
    background-position: top;
    background-repeat: no-repeat;

}

.connectedName
{
    position: absolute;
    z-index: 9999;
    font-size: 1rem;
    font-family: "Helvetica Neue";
    top: 0;
    left: 0;
    margin-top: 10px;
    margin-left: 15px;
    letter-spacing: 2px;
    color: white;
}

.modal-accueil-pres
{
    border-radius: 50px;
    box-shadow: 0 0 5px white;
}
/**************************************FIN ACCUEIL***************************************/
/*****************************************VIDEOS*****************************************/
.masthead
{
    height: 70vh;
    min-height: 500px;
    background-image: url('../ressources/img/melanie_rolland_Iya_duclos_villain_pile_ou_face_project.jpg');
    background-size: cover;
    /*background-position: 0 -300px;*/
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.video-overlay
{
    background: url("../ressources/img/pattern_smiuul.png");
    background-attachment: scroll;
    background-attachment: fixed;
    position: absolute;
    /*height: 70vh;*/
    height: 100%;
    width: 100%;
    top: 0;
}

.title_videos
{
    font-family: Rockness, "Helvetica Neue";
    font-size: 8rem;
    font-weight: 500 !important;
    letter-spacing: 2px;
    /*color: black;
    background: rgba(255, 255, 255, 0.8);
    padding-top: 10px;
    padding-bottom: 10px;*/
    color: white;
    text-shadow: black 5px 5px 5px;
    /*text-shadow: white 5px 5px 20px;*/
}

@media screen and (max-width: 767px)
{
    .title_videos
    {
        font-size: 5rem;
    }
}

.title-important-souligne
{
    color: black;
    font-size: 2rem;
    font-family: "Helvetica Neue";
    padding-top: 50px;
}

.title-important-souligne:after {
    content: '';
    width: 100px;
    height: 3px;
    background: black;
    display: block;
    /*margin: 15px auto;*/
    margin-top: 5px;
    margin-bottom: 30px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.title-important-souligne:hover:after {
    width: 130px;
    height: 4px;
    /*cursor: pointer;*/
}

.videos-video
{
    width: 100%;
    height: 200px;
    margin-bottom: 50px;
}

.videos-modif:after
{
    content: '';
    background: url("../ressources/Icones_2/error(1).png") no-repeat center;
    background-size: contain;
    text-align: center;
    /*background: red;*/
    height: 40px;
    width: 40px;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    margin-top: -15px;
}

.videos-modif:hover:after
{
    background: url("../ressources/Icones_2/error.png") no-repeat center;
    background-size: contain;
    border: none;
    cursor: pointer;
    color: white;
}

.text-voir-plus
{
    color: #424242 !important;
}

.btn-video
{
    height: 40px;
    width: 40px;
    /*border: 2px solid #aaaaaa;*/
    border-radius: 50%;
    right: 10px;
    top: 50px;
    background-size: contain !important;
    background: url("../ressources/Icones/plus.png") no-repeat center;
    position: absolute;
}

.btn-video:hover
{
    background: url("../ressources/Icones/plus(1).png") no-repeat center;
    cursor: pointer;
}
/**************************************FIN VIDÉOS***************************************/
/**************************************IYA et MEL***************************************/

.masthead-iya {
    height: 100vh;
    min-height: 500px;
    /*background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');*/
    background-image: url('../ressources/img/background_iya.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.masthead-mel {
    height: 100vh;
    min-height: 500px;
    /*background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');*/
    background-image: url('../ressources/img/background_melanie.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title_cv
{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: "Helvetica Neue";
    font-weight: 700;
    font-size: 2rem;
    margin-top: 50px;
    margin-bottom: 30px;
}

.title_cv:after
{
    content: '';
    width: 200px;
    height: 3px;
    background: black;
    display: block;
    /*margin: 15px auto;*/
    margin: auto;
    margin-top: 5px;
    margin-bottom: 30px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.title_cv:hover:after {
    width: 300px;
    height: 4px;
    /*cursor: pointer;*/
}

.CV-video
{
 width: 100%;
 height: 400px;
 opacity: 0.8;
}

.CV-video:hover
{
    opacity: 1;
}


.text_cv
{
    text-align: justify;
    font-family: "Helvetica Neue";
}

.citation_cv
{
    font-family: "Helvetica Neue";
    font-size: 1.3rem;
    color: #aaaaaa;
}

.citation-name
{
    font-family: "Helvetica Neue";
    font-size: 0.8rem;
    font-weight: 200;
    letter-spacing: 2px;
}

@media screen and (max-width: 991px){
    .cover-cv
    {
        display: none;
    }
}

.icones-fb-cv
{
    height: 40px;
    width: 40px;
    background: url("../ressources/Icones_3/social-facebook-circular-button copie2.png") no-repeat center;
    background-size: contain;
    margin: auto;
}

.icones-insta-cv
{
    height: 40px;
    width: 40px;
    background: url("../ressources/Icones_3/insta_copie2.png") no-repeat center;
    background-size: contain;
    margin: auto;
}

.icones-youtube-cv
{
    height: 40px;
    width: 40px;
    background: url("../ressources/Icones_3/social-youtube-circular-button.png") no-repeat center;
    background-size: contain;
    margin: auto;
}

.icones-fb-cv:hover
{
    background: url("../ressources/Icones_3/facebook-logo-button copie2.png") no-repeat center;
    background-size: contain;
}

.icones-insta-cv:hover
{
    background: url("../ressources/Icones_3/insta(1)_copie2.png") no-repeat center;
    background-size: contain;
}

.icones-youtube-cv:hover
{
    background: url("../ressources/Icones_3/youtube-logotype.png") no-repeat center;
    background-size: contain;
}


.cv-download-button
{
    color: black;
    background:transparent;
    border-width:3px;
    border-style: solid;
    border-color: black;
    position:relative;
    display:inline-block;
    padding:0.5em 9em;
    transition:all 0.3s ease-in-out;
    text-align:center;
    font-family:"Helvetica Neue";
    font-weight:bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 50px 1em;
}

.cv-download-button:before, .cv-download-button:after
{
    content:'';
    display:block;
    position:absolute;
    border-color: black;
    box-sizing:border-box;
    border-style:solid;
    width:1.5em;
    height:1.5em;
    transition:all 0.3s ease-in-out;
}

.cv-download-button:before
{
    top:-10px;
    left:-10px;
    border-width:3px 0 0 3px;
    z-index:2;
}

.cv-download-button:after
{
    bottom:-10px;
    right:-10px;
    border-width:0 3px 3px 0;
}

.cv-download-button:hover:before, .cv-download-button:hover:after
{
    width:calc(100% + 20px);
    height:calc(100% + 20px);
    border-color:#96e8da;
}

.cv-download-button:hover
{
    color:white;
    background-color: #96e8da;
    border-color:#fff;
}


@media screen and (max-width: 520px)
{
    .cv-download-button
    {
        padding:0.5em 3em;
    }
}

/***********************************FIN IYA et MEL***************************************/
/***************************************CONTACT******************************************/
.contact-buttons
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
}

.contact-button
{
    position: relative;
    width: 70px;
    height: 70px;
    /*border: 1px solid white;*/
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    text-align: center;
    /*font-family: "Helvetica Neue";
    color: white !important;*/
}

.contact-button-facebook
{
    background: url("../ressources/Icones_2/social-facebook-circular-button.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.contact-button-facebook:hover
{
    background: url("../ressources/Icones_2/facebook-logo-button.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.contact-button-youtube
{
    background: url("../ressources/Icones_2/social-youtube-circular-button.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.contact-button-youtube:hover
{
    background: url("../ressources/Icones_2/youtube-logotype.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.contact-button-insta
{
    background: url("../ressources/Icones_2/insta.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.contact-button-insta:hover
{
    background: url("../ressources/Icones_2/insta(1).png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
@media screen and (min-width: 410px) and (max-width: 768px)
{
    .contact-button
    {
        width: 50px !important;
        height: 50px !important;
    }
}

@media screen and (max-width: 409px)
{

    .contact-button
    {
        width: 40px !important;
        height: 40px !important;
    }

}

.contact-mail
{
    font-size: 0.7rem;
    margin-top: 0;
    margin-bottom: 40px;
}

.morphext
{
    display: inline-block;
    position: relative;
}

.morphext:before
{
    position: absolute;
    left: -50px;
    top: calc(50% - 1px);
    height: 1px;
    background: rgba(255,255,255,1);
    content: '';
    width: 30px;
    height: 2px;
}

.morphext:after
{
    position: absolute;
    right: -50px;
    top: calc(50% - 1px);
    height: 1px;
    background: rgba(255,255,255,1);
    content: '';
    width: 30px;
    height: 2px;
}

.morphext-text
{
    color: white;
    font-family: "Helvetica Neue";
    letter-spacing: 2px;
}

.morphext-text:hover
{
    color: #96e8da;
    text-decoration: none;
}
/*************************************FIN CONTACT****************************************/
/****************************************LOGIN*******************************************/
.container-login
{
    margin: auto;
    margin-top: 5vh;
    width: 500px;
    height: 670px;
    /*background: linear-gradient(to bottom, #505050 60%, #424242 100%) ;*/
    background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);
    /*text-align: center;*/
    border-radius: 10px ;
    box-shadow: 0px 0px 10px black;
    /*padding: 20px;*/
    position: relative;
}

.container-login:before
{
    position: absolute;
    content: 'Page de connexion';
    font-family: Rockness;
    text-shadow: 1px 1px rgba(255,255,255,0.1), -1px -1px rgba(0,0,0,0.5);
    color: rgba(255,255,255,0);

    font-size: 3rem;
    text-align: center;
    width: 100%;
    height: 70px;
    background: linear-gradient(135deg, #EA5C54 0%, #bb6dec 100%) !important;
    border-radius: 10px 10px 0px 0;
}

.container-login hr
{
    border: 2px solid;
    border-image: linear-gradient(135deg, #EA5C54 0%, #bb6dec 100%) !important;
    border-image-slice: 60 30 !important;
}
.container-login h1
{
    font-family: Rockness;
   text-shadow: 1px 1px rgba(255,255,255,0.1), -1px -1px rgba(0,0,0,0.5);
    color: rgba(255,255,255,0);
}

.container-login form .form-group input
{
    color: #afb1be;
    background: #32364a;
    border-top: 2px solid #393d52;
    border-bottom: 2px solid #393d52;
    border-right: none;
    border-left: none;
    padding: 23px 0 23px 50px;
    position: relative;

}
.container-login form .form-group:nth-child(2) input
{
    color: #DC6180 !important;
}

.container-login form .form-group:before
{
    position: absolute;
    content: '';
    height: 48px;
    width: 50px;
    /*background: red;*/
    margin: 0;
    z-index: 2;
}

.container-login form .form-group:nth-child(1):before
{
    background-size: contain;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/user_icon_copy.png") no-repeat center;
}

.container-login form .form-group:nth-child(2):before
{
    background-size: contain;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/lock_icon_copy.png") no-repeat center;
}


.container-login form button {
    border-radius: 50px;
    background: transparent;
    padding: 10px 50px;
    border: 2px solid #DC6180;
    color: #DC6180;
    text-transform: uppercase;
    font-size: 11px;
    transition-property: background, color;
    transition-duration: .2s;
    margin: auto;
}
.container-login form button:focus {
    box-shadow: none;
    outline: none;
}
.container-login form button:hover {
    color: white;
    background: #DC6180;
    cursor: pointer;
    transition-property: background,color;
    transition-duration: .2s;
    border: 2px solid #DC6180;
}

@media screen and (max-width: 500px)
{
 .container-login
 {
     width: 100%;
 }
}

@media screen and (max-height: 700px)
{
    .container-login
    {
        margin-top: 0;
       height: 100%;
    }
}

.titre-profond
{
    font-family: Rockness;
    text-shadow: 1px 1px rgba(255,255,255,0.1), -1px -1px rgba(0,0,0,0.5);
    color: rgba(255,255,255,0);
    font-size: 3rem;
}

.input-profond
{
    box-shadow: 1px 3px rgba(255,255,255,0.1), -1px -2px rgba(0,0,0,0.5) !important;
    background: rgba(255,255,255,0);
    color: rgba(255,255,255,1);
    text-shadow: 1px 1px rgba(255,255,255,0.1), -1px -1px rgba(0,0,0,0.5);
    border: none;
    width: 100%;
    margin-top: 10px;
    padding: 5px;
}
/******-------> SVG CERF*/

svg {
    width: 100%;
    height: 400px;
}

.fil0 {
    fill: #C3936B;
}

.fil1 {
    fill: #AB7345;
}

.fil2 {
    fill: #D7AF91;
}

.fil3 {
    fill: #5B5B5B;
}

.fil4 {
    fill: #727271;
}

.fil5 {
    fill: #ECD1BF;
}

.fil6 {
    fill: #955B27;
}

.fil7 {
    fill: #834B1A;
}

.fil8 {
    fill: #5C3110;
}

.fil9 {
    fill: #D2CC9D;
}

.fil10 {
    fill: #E8E2AC;
}

.fil11 {
    fill: #F6EFC8;
}

polygon {
    opacity: 0;
}
polygon:nth-child(0) {
    -webkit-animation: fade-animation 3s ease forwards 0.61s;
    animation: fade-animation 3s ease forwards 0.61s;
}
polygon:nth-child(1) {
    -webkit-animation: fade-animation 3s ease forwards 0.61s;
    animation: fade-animation 3s ease forwards 0.61s;
}
polygon:nth-child(2) {
    -webkit-animation: fade-animation 3s ease forwards 1.77s;
    animation: fade-animation 3s ease forwards 1.77s;
}
polygon:nth-child(3) {
    -webkit-animation: fade-animation 3s ease forwards 0.05s;
    animation: fade-animation 3s ease forwards 0.05s;
}
polygon:nth-child(4) {
    -webkit-animation: fade-animation 3s ease forwards 0.44s;
    animation: fade-animation 3s ease forwards 0.44s;
}
polygon:nth-child(5) {
    -webkit-animation: fade-animation 3s ease forwards 0.57s;
    animation: fade-animation 3s ease forwards 0.57s;
}
polygon:nth-child(6) {
    -webkit-animation: fade-animation 3s ease forwards 1.17s;
    animation: fade-animation 3s ease forwards 1.17s;
}
polygon:nth-child(7) {
    -webkit-animation: fade-animation 3s ease forwards 1.4s;
    animation: fade-animation 3s ease forwards 1.4s;
}
polygon:nth-child(8) {
    -webkit-animation: fade-animation 3s ease forwards 0.42s;
    animation: fade-animation 3s ease forwards 0.42s;
}
polygon:nth-child(9) {
    -webkit-animation: fade-animation 3s ease forwards 0.92s;
    animation: fade-animation 3s ease forwards 0.92s;
}
polygon:nth-child(10) {
    -webkit-animation: fade-animation 3s ease forwards 0.7s;
    animation: fade-animation 3s ease forwards 0.7s;
}
polygon:nth-child(11) {
    -webkit-animation: fade-animation 3s ease forwards 1.93s;
    animation: fade-animation 3s ease forwards 1.93s;
}
polygon:nth-child(12) {
    -webkit-animation: fade-animation 3s ease forwards 0.07s;
    animation: fade-animation 3s ease forwards 0.07s;
}
polygon:nth-child(13) {
    -webkit-animation: fade-animation 3s ease forwards 0.49s;
    animation: fade-animation 3s ease forwards 0.49s;
}
polygon:nth-child(14) {
    -webkit-animation: fade-animation 3s ease forwards 1.67s;
    animation: fade-animation 3s ease forwards 1.67s;
}
polygon:nth-child(15) {
    -webkit-animation: fade-animation 3s ease forwards 1.46s;
    animation: fade-animation 3s ease forwards 1.46s;
}
polygon:nth-child(16) {
    -webkit-animation: fade-animation 3s ease forwards 1.87s;
    animation: fade-animation 3s ease forwards 1.87s;
}
polygon:nth-child(17) {
    -webkit-animation: fade-animation 3s ease forwards 0.49s;
    animation: fade-animation 3s ease forwards 0.49s;
}
polygon:nth-child(18) {
    -webkit-animation: fade-animation 3s ease forwards 0.27s;
    animation: fade-animation 3s ease forwards 0.27s;
}
polygon:nth-child(19) {
    -webkit-animation: fade-animation 3s ease forwards 1.82s;
    animation: fade-animation 3s ease forwards 1.82s;
}
polygon:nth-child(20) {
    -webkit-animation: fade-animation 3s ease forwards 0.16s;
    animation: fade-animation 3s ease forwards 0.16s;
}
polygon:nth-child(21) {
    -webkit-animation: fade-animation 3s ease forwards 0.32s;
    animation: fade-animation 3s ease forwards 0.32s;
}
polygon:nth-child(22) {
    -webkit-animation: fade-animation 3s ease forwards 1.61s;
    animation: fade-animation 3s ease forwards 1.61s;
}
polygon:nth-child(23) {
    -webkit-animation: fade-animation 3s ease forwards 1.2s;
    animation: fade-animation 3s ease forwards 1.2s;
}
polygon:nth-child(24) {
    -webkit-animation: fade-animation 3s ease forwards 0.21s;
    animation: fade-animation 3s ease forwards 0.21s;
}
polygon:nth-child(25) {
    -webkit-animation: fade-animation 3s ease forwards 0.13s;
    animation: fade-animation 3s ease forwards 0.13s;
}
polygon:nth-child(26) {
    -webkit-animation: fade-animation 3s ease forwards 1.66s;
    animation: fade-animation 3s ease forwards 1.66s;
}
polygon:nth-child(27) {
    -webkit-animation: fade-animation 3s ease forwards 1.23s;
    animation: fade-animation 3s ease forwards 1.23s;
}
polygon:nth-child(28) {
    -webkit-animation: fade-animation 3s ease forwards 1.55s;
    animation: fade-animation 3s ease forwards 1.55s;
}
polygon:nth-child(29) {
    -webkit-animation: fade-animation 3s ease forwards 1.36s;
    animation: fade-animation 3s ease forwards 1.36s;
}
polygon:nth-child(30) {
    -webkit-animation: fade-animation 3s ease forwards 0.41s;
    animation: fade-animation 3s ease forwards 0.41s;
}
polygon:nth-child(31) {
    -webkit-animation: fade-animation 3s ease forwards 0.94s;
    animation: fade-animation 3s ease forwards 0.94s;
}
polygon:nth-child(32) {
    -webkit-animation: fade-animation 3s ease forwards 1.15s;
    animation: fade-animation 3s ease forwards 1.15s;
}
polygon:nth-child(33) {
    -webkit-animation: fade-animation 3s ease forwards 0.42s;
    animation: fade-animation 3s ease forwards 0.42s;
}
polygon:nth-child(34) {
    -webkit-animation: fade-animation 3s ease forwards 0.91s;
    animation: fade-animation 3s ease forwards 0.91s;
}
polygon:nth-child(35) {
    -webkit-animation: fade-animation 3s ease forwards 0.09s;
    animation: fade-animation 3s ease forwards 0.09s;
}
polygon:nth-child(36) {
    -webkit-animation: fade-animation 3s ease forwards 0.97s;
    animation: fade-animation 3s ease forwards 0.97s;
}
polygon:nth-child(37) {
    -webkit-animation: fade-animation 3s ease forwards 1.08s;
    animation: fade-animation 3s ease forwards 1.08s;
}
polygon:nth-child(38) {
    -webkit-animation: fade-animation 3s ease forwards 0.08s;
    animation: fade-animation 3s ease forwards 0.08s;
}
polygon:nth-child(39) {
    -webkit-animation: fade-animation 3s ease forwards 1.38s;
    animation: fade-animation 3s ease forwards 1.38s;
}
polygon:nth-child(40) {
    -webkit-animation: fade-animation 3s ease forwards 1.79s;
    animation: fade-animation 3s ease forwards 1.79s;
}
polygon:nth-child(41) {
    -webkit-animation: fade-animation 3s ease forwards 0.16s;
    animation: fade-animation 3s ease forwards 0.16s;
}
polygon:nth-child(42) {
    -webkit-animation: fade-animation 3s ease forwards 0.6s;
    animation: fade-animation 3s ease forwards 0.6s;
}
polygon:nth-child(43) {
    -webkit-animation: fade-animation 3s ease forwards 1.44s;
    animation: fade-animation 3s ease forwards 1.44s;
}
polygon:nth-child(44) {
    -webkit-animation: fade-animation 3s ease forwards 1.58s;
    animation: fade-animation 3s ease forwards 1.58s;
}
polygon:nth-child(45) {
    -webkit-animation: fade-animation 3s ease forwards 1.71s;
    animation: fade-animation 3s ease forwards 1.71s;
}
polygon:nth-child(46) {
    -webkit-animation: fade-animation 3s ease forwards 0.87s;
    animation: fade-animation 3s ease forwards 0.87s;
}
polygon:nth-child(47) {
    -webkit-animation: fade-animation 3s ease forwards 0.7s;
    animation: fade-animation 3s ease forwards 0.7s;
}
polygon:nth-child(48) {
    -webkit-animation: fade-animation 3s ease forwards 0.83s;
    animation: fade-animation 3s ease forwards 0.83s;
}
polygon:nth-child(49) {
    -webkit-animation: fade-animation 3s ease forwards 1.07s;
    animation: fade-animation 3s ease forwards 1.07s;
}
polygon:nth-child(50) {
    -webkit-animation: fade-animation 3s ease forwards 0.02s;
    animation: fade-animation 3s ease forwards 0.02s;
}
polygon:nth-child(51) {
    -webkit-animation: fade-animation 3s ease forwards 0.23s;
    animation: fade-animation 3s ease forwards 0.23s;
}
polygon:nth-child(52) {
    -webkit-animation: fade-animation 3s ease forwards 0.58s;
    animation: fade-animation 3s ease forwards 0.58s;
}
polygon:nth-child(53) {
    -webkit-animation: fade-animation 3s ease forwards 1.54s;
    animation: fade-animation 3s ease forwards 1.54s;
}
polygon:nth-child(54) {
    -webkit-animation: fade-animation 3s ease forwards 0.17s;
    animation: fade-animation 3s ease forwards 0.17s;
}
polygon:nth-child(55) {
    -webkit-animation: fade-animation 3s ease forwards 0.11s;
    animation: fade-animation 3s ease forwards 0.11s;
}
polygon:nth-child(56) {
    -webkit-animation: fade-animation 3s ease forwards 1.47s;
    animation: fade-animation 3s ease forwards 1.47s;
}
polygon:nth-child(57) {
    -webkit-animation: fade-animation 3s ease forwards 1.84s;
    animation: fade-animation 3s ease forwards 1.84s;
}
polygon:nth-child(58) {
    -webkit-animation: fade-animation 3s ease forwards 1.5s;
    animation: fade-animation 3s ease forwards 1.5s;
}
polygon:nth-child(59) {
    -webkit-animation: fade-animation 3s ease forwards 0.79s;
    animation: fade-animation 3s ease forwards 0.79s;
}
polygon:nth-child(60) {
    -webkit-animation: fade-animation 3s ease forwards 0.33s;
    animation: fade-animation 3s ease forwards 0.33s;
}
polygon:nth-child(61) {
    -webkit-animation: fade-animation 3s ease forwards 1.88s;
    animation: fade-animation 3s ease forwards 1.88s;
}
polygon:nth-child(62) {
    -webkit-animation: fade-animation 3s ease forwards 1.61s;
    animation: fade-animation 3s ease forwards 1.61s;
}
polygon:nth-child(63) {
    -webkit-animation: fade-animation 3s ease forwards 0.53s;
    animation: fade-animation 3s ease forwards 0.53s;
}
polygon:nth-child(64) {
    -webkit-animation: fade-animation 3s ease forwards 1.4s;
    animation: fade-animation 3s ease forwards 1.4s;
}
polygon:nth-child(65) {
    -webkit-animation: fade-animation 3s ease forwards 1.05s;
    animation: fade-animation 3s ease forwards 1.05s;
}
polygon:nth-child(66) {
    -webkit-animation: fade-animation 3s ease forwards 0.56s;
    animation: fade-animation 3s ease forwards 0.56s;
}
polygon:nth-child(67) {
    -webkit-animation: fade-animation 3s ease forwards 0.87s;
    animation: fade-animation 3s ease forwards 0.87s;
}
polygon:nth-child(68) {
    -webkit-animation: fade-animation 3s ease forwards 1.71s;
    animation: fade-animation 3s ease forwards 1.71s;
}

@-webkit-keyframes fade-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
